<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CloudBuildSimpleDemo</title>
</head>
<body>
<div align="middle">
    <h1>Welcome to Google Cloud</h1>
    <img src="{{url_for('static', filename='dilbert_containers_k8s.png')}}" align="middle" />
</div>
</body>
</html>
